//flaskblog/templates/post/base.html
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png')}}" type="image/png">
    <title>Python Flask Blog with Admin using flask_sqlalchemy, flask_login, flask_bcrypt and flask_msearch</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/responsive.css')}}">
</head>
<body>
    <header class="header_area"> 
        <div class="logo_part">
            <div class="container">
                <div class="float-left">
                    <a class="logo" href="#"><img src="{{ url_for('static', filename='images/logo.png')}}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <div class="container_inner">
                        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                            <ul class="nav navbar-nav menu_nav">
                                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right ml-auto">
                                <form action="{{ url_for('search')}}" method="GET" class="input-group mr-2">
                                    <input type="text" class="form-control" name="q">
                                    <div class="input-group-append">
                                        <input type="submit" class="btn btn-outline-info" value="Search">
                                    </div>
                                </form>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    {% block content  %}
 
    {% endblock content %}
    <footer class="footer-area">
        <div class="container">
            <p>
                Copyright ©<script>
                    document.write(new Date().getFullYear());
                </script> All rights reserved 
            </p>
        </div>
        </div>
    </footer>
    <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/popper.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
</body>
</html>